<section class="carrito">
	<div class="boxitBar-top">
        
	</div>		
	<div class="container-fluid" id="carrito-box">			
		<div class="row">
			<div class="col-md-12 text-center">
				<h1>Carrito <span ng-show="CartEmpty"> Vacío.</span></h1>
			</div>
		</div>

		<div class="row">
            <div class="col-xs-12">               


<div class="carrito-container">
    <div style="margin-bottom: 20%" id="cssload-pgloading" ng-show="loading">
        <div class="cssload-loadingwrap">
            <ul class="cssload-bokeh">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
</div>












<div class="boxit-shopping-cart" ng-show="mostrarBoxitShoppingCart">
    <table id="shopping-cart-table" class="data-table cart-table">
        <thead>
            <tr class="first last">
                <td colspan="2" class="a-center">Producto</td>
                <td class="a-center">Cantidad</td>
                <td class="a-center">Eliminar</td>
                <td class="a-center">Valor Unitario</td>
                <td class="a-center last">Valor Total</td>
            </tr>
        </thead>
        <tbody class="notranslate">

            <tr class="first odd" ng-repeat="item in carItems">        
                <td class="block-img test">
                    <div style=" text-align:center;">
                        <a href="#" target="_blank">
                            <img id="image-{{item.ItemId}}-default" class="product-image-photo img-responsive" src="{{item.Image.ImageUrl}}" alt="{{item.Title}}">
                        </a>
                    </div>
                </td>
                
                <td>
                    <h2 class="product-name">
                        <a target="_blank">{{item.Title}}</a>
                    </h2>
                    <ul class="item-options">                                
                        <li>        
                            <em>Peso: {{item.Weight}} lbs.</em>
                        </li>        
                    </ul>
                </td>
                <td class="a-center cart_qty">
                    <div class="cart-qty">
                            
                    <button class="btn22 btn-update" ng-click="modifyCar(0, item.CartItemId, item.Quantity)"><span class="minus">-</span></button>
                        <input type="text" readonly="readonly" value="{{item.Quantity}}" class="input-text qty" size="2">
                    <button class="btn22 btn-update" ng-click="modifyCar(1, item.CartItemId, item.Quantity)"><span class="plus">+</span></button>
                    </div>
                </td>
                <td class="a-center td-delete">
                    <div class="cart-remove">
                        <a title="Eliminar" class="btn-remove2" ng-click="modifyCar(2, item.CartItemId, item.Quantity)">Eliminar</a>
                    </div>
                </td>
                <td class="a-center notranslate">
                    <span class="cart-price">        
                        <span class="price currency_price">{{item.Price.FormattedPrice}}</span>
                    </span>
                </td>
                <td class="a-center notranslate last">
                    <span class="price">
                        <span class="price currency_price">{{item.ItemTotal.FormattedPrice}}</span>
                    </span>
                </td>
            </tr>

        </tbody>
    </table>


    <div class="cart-container">        
    
                    <div class="cart-summary">
                        <div class="cart-totals">
                            <div class="table-wrapper">
                                <table class="data table totals">
                                    <caption class="table-caption">Total</caption>
                                    <tbody>
                                        <tr class="totals sub">
                                            <th class="texto">Subtotal</th>
                                            <td class="amount">
                                                <span class="price" ng-bind="subTotal"></span>
                                            </td>
                                        </tr>
                                        <tr class="totals sub">
                                            <th class="texto">Comisión</th>
                                            <td class="amount">
                                                <span class="price" ng-bind="carCommission"></span>
                                            </td>
                                        </tr>
                                        
                                        <tr class="grand totals">
                                            <th class="texto">
                                                <strong>Orden Total</strong>
                                            </th>
                                            <td class="amount">
                                                <strong><span class="price" ng-bind="carTotal"></span></strong>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>    
                        </div>
                        <div class="pagar-en-efectivo">
                            <button type="button" ng-click="purchase()" title="Pagar en efectivo" class="action primary checkout">
                                <span>Pagar en efectivo</span>
                            </button>
                        </div>
                    </div>
    
                <div class="action-buttons" ng-show="shopping">            
                    <div class="cart-actions">                        
                        <button type="submit" ng-click="clearShoppingCar()" name="update_cart_action" value="empty_cart" title="Clear Shopping Cart" class="action clear">
                            <span>Limpiar Carrito</span>
                        </button>
                        <button type="submit" ng-click="continueBuying()" name="continue" value="continue" title="Update Shopping Cart" class="action continue">
                            <span>Continuar Comprando</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
</div>
<div class="container-fluid">			
<div class="row">
    <div class="col-md-12 text-center"><p><br></p></div>
</div>
</div>
</section>