<div>

<!--    <h3 class="text-center customLabel">SU SOLICITUD HA SIDO PROCESADA

    </h3>-->


    <img  src="../img/compra_procesada.png"  style="width: 100%" alt=""/>

    <h4 style="text-align: center; padding: 10px;">Se le ha enviado un correo electrónico a su cuenta de email registrada con un número único de confimación el cual debe ser introducido en su Boxit más cercano para proceder a pagar su compra en EFECTIVO.

    </h4>

    <div class="modal-footer">
            <button class=" btn btn-default" type="button" ng-click="cerrarModalThankyou()">cerrar</button>
    </div>

</div>