<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title></title>
<!--Begin AutoPilot -->
<script type="text/javascript">(function(o){var b="https://api.autopilothq.com/anywhere/",t="cb7780893cf5421d9959efe45ff50119761aaf4c5b404556b3591ff3195936d8",a=window.AutopilotAnywhere={_runQueue:[],run:function(){this._runQueue.push(arguments);}},c=encodeURIComponent,s="SCRIPT",d=document,l=d.getElementsByTagName(s)[0],p="t="+c(d.title||"")+"&u="+c(d.location.href||"")+"&r="+c(d.referrer||""),j="text/javascript",z,y;if(!window.Autopilot) window.Autopilot=a;if(o.app) p="devmode=true&"+p;z=function(src,asy){var e=d.createElement(s);e.src=src;e.type=j;e.async=asy;l.parentNode.insertBefore(e,l);};y=function(){z(b+t+'?'+p,true);};if(window.attachEvent){window.attachEvent("onload",y);}else{window.addEventListener("load",y,false);}})({});</script>
<!--End AutoPilot -->
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WPBXCP9');</script>
<!-- End Google Tag Manager -->
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WPBXCP9"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<section class="home iniciodesesion">
	<div class="BarHeader Content">
		<div class="BarHeaderContainer ContentContainer MaxWidth">
			<img alt="" src="img/image_headerbar_1.png" />
		</div>
	</div>		
	<div class="container-fluid" id="iniciodesesion-box">			
		<div class="row">
			<div class="col-md-12 text-center">
				<h1>Preguntas más consultadas</h1>
			</div>
		</div>

		<div class="ContentContainer MaxWidthData">
			<!--<div class="MainTitle" style="text-align: left; padding: 0;     padding-top: 50px;">
                Preguntas mas consultadas
        	</div>-->
<div class="FAQS">
<div class="FAQ Selected">
<div class="Title">&iquest;Qu&eacute; es Boxit?</div>

<div class="Text">Es un sistema de entrega de paquetes automatizado que permite retirar tus paquetes de compras online donde y cuando quieras, de manera privada 24/7 de la semana y los 365 d&iacute;as del a&ntilde;o.</div>
</div>

<div class="FAQ">
<div class="Title">&iquest;Qui&eacute;n puede utilizar Boxit?</div>

<div class="Text">Toda persona que posea tarjeta de cr&eacute;dito y dinero en efectivo.<br />
<br />
Est&aacute; dise&ntilde;ado para retirar tus compras online en nuestros locales afiliados y tiendas en Estados Unidos.<br />
<br />
&iquest;No tienes tarjeta de cr&eacute;dito? pr&oacute;ximamente podr&aacute;s hacer tus compras online en Amazon y pagar en efectivo mediante a <span>BOXIT</span>.</div>
</div>

<div class="FAQ">
<div class="Title">&iquest;C&oacute;mo funciona?</div>

<div class="Text">
<ul>
	<li>Es simple, f&aacute;cil y r&aacute;pido.</li>
	<li>Reg&iacute;strate ingresando tus datos y correo electr&oacute;nico.</li>
	<li>Haz tu compra Online. (Efectivo o tarjeta de cr&eacute;dito).</li>
	<li>Si tu compras es en efectivo por Amazon paga en nuestras plataformas y/o afiliados, recibir&aacute;s una confirmaci&oacute;n v&iacute;a mail indicando que tu paquete est&aacute; en el Boxit de tu elecci&oacute;n y recibir&aacute;s un c&oacute;digo &uacute;nico de retiro.</li>
	<li>Ingresa tu c&oacute;digo &uacute;nico de retiro en el Boxit.</li>
	<li>Retira y s&eacute; feliz&hellip; <span>Boxit Delivering Happiness</span></li>
</ul>
</div>
</div>

<div class="FAQ">
<div class="Title">&iquest;Debo tener una cuenta de email?</div>

<div class="Text">S&iacute;, es necesario que cuentes con una cuenta de correo electr&oacute;nico para recibir el c&oacute;digo de retiro &uacute;nico de tus compras y las notificaciones de tracking de los paquetes.</div>
</div>

<div class="FAQ">
<div class="Title">&iquest;Cu&aacute;l es el horario de atenci&oacute;n o entregas de paquetes?</div>

<div class="Text">Nuestra plataforma est&aacute; disponible las 24 horas del d&iacute;a, los 365 d&iacute;as del a&ntilde;o. Usted es due&ntilde;o de su tiempo y privacidad en la compra.</div>
</div>

<div class="FAQ">
<div class="Title">&iquest;Cuantos d&iacute;as permanecen los paquetes en el Boxit?</div>

<div class="Text">La permanencia de tus paquetes en <span>BOXIT</span> es de 48 horas luego de recibir la notificaci&oacute;n a arribo v&iacute;a email. Una vez transcurrido ese tiempo el paquete ser&aacute; retirado y llevado a nuestra sede operativa donde dependiendo el caso se deba pagar un recargo por movimiento y acarreo.</div>
</div>

<div class="FAQ">
<div class="Title">&iquest;C&oacute;mo registrarme?</div>

<div class="Text">
<ul>
	<li>Dir&iacute;gete a www.myboxit.com</li>
	<li>Rellena los espacios en blanco con la informaci&oacute;n solicitada.</li>
	<li>Selecciona el Boxit m&aacute;s cercano a tu hogar u oficina.</li>
	<li>Presiona aceptar.</li>
	<li>Ingresa a tu correo electr&oacute;nico y confirma tu cuenta.</li>
	<li>Recibir&aacute;s tu direcci&oacute;n en Miami, la cual debes usar en todas tus direcciones de compras Online.</li>
</ul>
<span>BIENVENIDO A BOXIT</span><br />
<span>DELIVERING HAPPINESS</span></div>
</div>

<div class="FAQ">
<div class="Title">&iquest;Pasos para comprar con tarjeta de cr&eacute;dito?</div>

<div class="Text">
<ul>
	<li>Abrir www.myboxit.com y crea tu usuario con direcci&oacute;n PO BOX en Miami.</li>
	<li>Compra en tu p&aacute;gina online favorita.</li>
	<li>Ingresa tu direcci&oacute;n f&iacute;sica PO BOX Miami, recibida en tu email.</li>
	<li>Completa tu compra.</li>
	<li>Anuncia tu paquete para ayudarte con el tracking</li>
</ul>
</div>
</div>

<div class="FAQ">
<div class="Title">&iquest;Pasos para comprar con efectivo (aplica exclusivamente para Amazon)?</div>

<div class="Text">
<ul>
	<li>Ir a www.myboxit.com crea tu usuario con direcci&oacute;n PO BOX en Miami.</li>
	<li>Haz logging con Amazon desde my www.boxit.com o utiliza tus credenciales de usuario.</li>
	<li>Haz click en Boxit store.</li>
	<li>Selecciona tu producto a comprar.</li>
	<li>Selecciona Checkout.</li>
	<li>Haz click en compra en efectivo.</li>
	<li>Revisa correo electr&oacute;nico con tu n&uacute;mero de orden (tambi&eacute;n lo puedes ver en tu cuenta de usuario).</li>
	<li>Paga en Boxit directamente o en cualquiera de nuestros afiliados; nosotros hacemos el resto.</li>
</ul>
</div>
</div>

<div class="FAQ">
<div class="Title">&iquest;Qu&eacute; son Impuestos de Aduana?</div>

<div class="Text">Los impuestos aduanales o de introducci&oacute;n son grav&aacute;menes obligatorios aplicados a los bienes que ingresan al territorio nacional legalmente, recaudados por la administraci&oacute;n p&uacute;blica. Los paquetes con valor hasta $100 (valor CIF: costo + seguro + flete) est&aacute;n libres de Impuesto Aduanal. En base a la Ley N&deg; 53 de 13 de diciembre de 2007 que aprueba el Tratado de Promoci&oacute;n Comercial entre la Rep&uacute;blica de Panam&aacute; y los Estados Unidos de Am&eacute;rica.</div>
</div>

<div class="FAQ">
<div class="Title">&iquest;Qu&eacute; son los tr&aacute;mites especiales y a qu&eacute; mercanc&iacute;as aplican?</div>

<div class="Text">Algunas mercanc&iacute;as para entrar al territorio nacional requieren permisos especiales que ayudan a salvaguardar la salud y seguridad del consumidor. Estos tr&aacute;mites son solicitados por las siguientes autoridades:
<hr />
<ul>
	<li><b>AUPSA &ndash; Autoridad Paname&ntilde;a de Seguridad de Alimentos:</b> Comestibles (alimentos y bebidas), suplementos (alimenticios, diet&eacute;ticos, vitam&iacute;nicos), vitaminas y otros.</li>
	<li><b>MINSA: Farmacias y Droga, Laboratorio de Aduanas y de necesitarlo Sello del Gorgas y Bomberos:</b> Todo producto que tenga contacto con el cuerpo tales como: medicamentos, cosm&eacute;ticos, cremas para el cuerpo, perfumes, reactivos y otros.</li>
	<li><b>ANAM y Cuarentena Agropecuaria:</b> Mercanc&iacute;as de madera o que incluya madera y sus derivados. Semillas, plantas vivas: su importaci&oacute;n est&aacute; prohibida sin tr&aacute;mite o permiso previo. Este tr&aacute;mite lo realiza directo el cliente y de no contar con la documentaci&oacute;n podr&aacute;n ser decomisados e incinerados inmediatamente por Cuarentena Agropecuaria de Panam&aacute;.</li>
	<li><b>Bomberos, Laboratorio de Aduanas y Salud Ambiental:</b> Pinturas / Aerosoles.</li>
	<li><b>Tr&aacute;mite de valoraci&oacute;n:</b> Papel bond y sus derivados, papel toalla, servilletas de papel, entre otros.</li>
	<li><b>Costos de tr&aacute;mites:</b> 
        <ul>
          <li>AUPSA, por notificaci&oacute;n o descripci&oacute;n: $5</li>
          <li>Farmacias y Droga: $15 </li>
          <li>Laboratorio de Aduanas: $15</li>
          <li>Sello Gorgas: $20</li>
          <li> Bomberos: $15</li>
          <li>Salud Ambiental: $20</li>
          <li> ANAM: $45 m&iacute;nimo</li>
          <li>Cuarentena Agropecuaria: $40</li>
          <li> Valoraci&oacute;n: $20 m&iacute;nimo</li>
       </ul> 
</ul>
</div>
</div>

<div class="FAQ">
		<div class="Title">Productos Prohibidos</div>		
		<div class="Text" align="justify">Definido como cualquier cantidad de material inflamable, explosivo o corrosivo.<br/><br/>
			Incluye a cualquier sustancia que pueda estar en estado s&oacute;lido, l&iacute;quido o gaseoso, y que tiene las caracter&iacute;sticas de causar da&ntilde;os a la salud, los bienes, y/o al medio ambiente. Esa sustancia o puede ser un producto qu&iacute;mico, agente f&iacute;sico, o biol&oacute;gico (organismos vivientes).<br /><br/>
			<b>POR FAVOR NO ENVIAR ESTOS PRODUCTOS A TU DIRECCI&Oacute;N EN MIAMI PUES NO PODR&Aacute;N SER TRANSPORTADOS Y DEBER&Aacute;S ASUMIR LOS COSTOS DE DEVOLUCI&Oacute;N AL PROVEEDOR O DESTRUCCI&Oacute;N</b><br /><br/>
			Estos productos incluyen, pero no est&aacute;n limitados a:<br /><br/>
			<ul>
				<li>Municiones</li>
				<li>Cualquier art&iacute;culo con alcohol como primer ingrediente</li>
				<li>Soluciones de limpieza</li>
				<li>Fuegos artificiales y p&oacute;lvora</li>
				<li>Gas</li>
				<li>Gas lacrim&oacute;geno o de pimienta</li>
				<li>Encendedores</li>
				<li>Baterías que contengan productos químicos o sean dangerous good</li>
				<li>Venenos</li>
				<li>Envases a presión</li>
				<li>Fósforos</li>
				<li>Cigarrillos Electrónicos y sus Accesorios</li>
				<li>Herramientas que funcionen con gas</li>
				<li>Plantas vivas</li>
				<li>Animales vivos</li>
				<li>Armas y sus partes</li>
				<li>Mira telescópica Infrarrojo</li>
				<li>Suplementos Dietéticos que dentro de su composición se encuentre el elemento activo conocido con el nombre de 1,3-Dimethylamylamine (DMAA) u otros nombres químicos equivalentes, como, por ejemplo: Geranium extract, methylhexanamine, methylhexanamine, etc.</li>
			</ul>
			<br />
			<b>Est&aacute; prohibido la importaci&oacute;n de mercanc&iacute;a falsificada y r&eacute;plicas. Estas mercanc&iacute;as ser&aacute;n decomisadas por la Autoridad Nacional de Aduanas.</b>
			<br /><br/>
			</div>
	</div>


<div class="FAQ">
	<div class="Title">Farmacia y Droga</div>		
		<div align="justify" class="Text">Este trámite se realiza con el <b>MINSA</b> y es necesario para todo producto que tenga contacto con el cuerpo tales como: medicamentos, cosméticos, cremas para el cuerpo, perfumes, reactivos y otros.<br />
		<br />
		El tiempo de trámite de Farmacia en estos momentos está tomando alrededor de 20 a 25 días hábiles.
		<br /><br />
		Los requisitos para el trámite de farmacia son los siguientes:
		<br /><br />
		<ul>
			<li><b>Carta de autorización con firma original:</b><br />
		En donde se solicita el permiso para la importación como consumo personal, dirigida a la Licenciada. Jenny E. Vergara, Directora Nacional de Farmacia y Drogas. Está carta será proporcionada sólo para firma del cliente. Sólo se aceptan cartas firmadas en original.
		</li>
			<li><b>Factura comercial:</b><br />
		Se debe presentar la factura comercial del artículo comprado. La información en la factura debe ser legible.
		</li>
			<li><b>Receta médica:</b><br />
		Si el trámite que se va a realizar es de medicamentos, es necesaria una receta médica. Dicha receta debe ser prescrita por un médico Panameño o Americano. Solo aplica para trámite de medicamentos.
		</li>
		</ul>
		<br />
		<b>Información Importante:</b>
		<br /><br />
		<b>Documentos a suministrar en caso de medicamentos:</b>
		<ul>
			<li>Nombre Comercial del Producto</li>
			<li>Formato de Presentación (cápsulas; líquido, comprimidos, etc)</li>
			<li>Formato de RX (mg, ml, gramos, onzas)</li>
			<li>Cantidades</li>
		</ul>
		<br />
		<b>Documentos a suministrar en caso de Productos de Usos Tópicos:</b>
		<ul>
			<li>Nombre Comercial del Producto</li>
			<li>Formato de Presentación (cápsulas; líquido, comprimidos, etc)</li>
		</ul>
		<br />
		<b>Notas Importantes:</b>
		<br /><br />
		<ul>
		<li>El proceso de autorización para la importación de productos catalogados como medicamentos o drogas no es un proceso solicitado por MyBoxit, sino por el Departamento Nacional de Farmacias y Drogas del Ministerio de Salud. El costo por realizar este trámite es de $15</li>
		<li>Si desea estar informado de los productos controlados por el Departamento de Farmacias y Drogas, visite su sitio web en el siguiente enlace http://www.minsa.gob.pa/informacion-salud/farmacia-y-drogas</li>
		<li>La Dirección Nacional de Farmacias y Drogas, ha confirmado que el proceso de tramitación del permiso de importación para artículos restringidos como: medicamentos, perfumería, cremas y otros productos de contacto con la piel, está demorando más del periodo regular</li>
		<li>Este proceso está tomando alrededor de 3 a 4 semanas</li>
		<li>Estamos tomando medidas en conjunto con la Dirección Nacional de Farmacias y Drogas para agilizar el proceso</li>
		<li>Le pedimos a nuestros clientes que realicen sus compras considerando el tiempo de este trámite</li>
		<li>Lamentamos mucho este inconveniente y esperamos su pronta resolución</li>
		</ul>
		<br />
		<b>Recomendaciones:</b>
		<br /><br />
		<ul>
		<li>Todo medicamento, o producto que tenga componente medicinal debe llevar una Receta Médica. Esta puede ser expedida por un médico panameño</li>
		<li>Si usted cuenta con la receta favor proporcionarla una vez le enviemos la carta a firmar para presentación del trámite</li>
		<li>Siempre debe adjuntar su cédula o pasaporte. No son aceptados Carnets de Migración</li>
		<li>Siempre debe presentar factura adjunto con receta, si la misma no fue enviada directamente de una farmacia de los Estados Unidos</li>
		<li>Siempre debe presentar factura para todo producto de uso tópico -cremas para piel, cosméticos, shampoo o acondicionadores, aceites aromáticos, perfumes, repelentes, gotas para los ojos o cualquier producto que tenga contacto con la piel</li>
		<li>El trámite dura de 12 a 15 días hábiles, una vez iniciado el trámite ante Farmacias y Drogas</li>
		</ul>
		<br /><br />
		&nbsp;
	</div>
</div>


<div class="FAQ">
	<div class="Title">Material Peligroso</div>		
	<div align="justify" class="Text">Definido como cantidades pequeñas de artículos de cuidado personal que contienen componentes que requieren preparación o embalaje especial para ser transportados vía aérea.<br />
		<br />
		Ofrecemos dos Consolidados al mes, los cuales estarán siendo enviados una vez sea completado el proceso de preparación de los mismos. Aplica cargo adicional que oscilan entre $10.00 a $20.00 por paquete.<br />
		<br />
		NOTA: Estas tarifas sólo aplican para envíos aéreos. Si el envío se hace a través de transporte marítimo se le aplicarán todos los cargos que corresponden ya que no se manejan consolidados vía marítima. <br />
		<br />
		Estos artículos incluyen pero no están limitados a:<br />
		&nbsp;
		<ul>
			<li>Desodorantes</li>
		<li>Polvos de belleza</li>
		<li>Productos de belleza</li>
		<li>Loción Corporal</li>
		<li>Crema de Afeitar</li>
		<li>Gels</li>
		<li>Soluciones de limpieza no corrosivas</li>
		<li>Enjuague bucal</li>
		<li>Esmalte de uñas</li>
		<li>Envases de aerosol</li>
		<li>Candelas de aceite</li>
		<li>Perfume</li>
		<li>Bloqueador solar</li>
		<li>Endulzantes, saborizantes o colorantes de alimentos. </li>
		<li>Amortiguadores</li>
		<li>Bolsas de Aire</li>
		<li>Cinturones de Seguridad</li>
		<li>Lift Support</li>
		<li>Compresores</li>
		<li>Baterias de Lithium UN3480 (ion) y UN3090 (metal) </li>
		</ul>
		<br />
		NOTA: Artículos como compresores, o de gran volumen que requieran un tipo de embalaje especial o su clasificación como Hazmat es único dentro del consolidado el cargo adicional será de $ 100.00<br /><br />
		Todo aquel producto que tenga contacto con la piel deberá llevar adicional el trámite de Farmacia y Drogas del Ministerio de Salud para poder ser liberado de la Aduana en Panamá y tendrá un cargo adicional.
		<br /><br />
		&nbsp;
	</div>
</div>

<div class="FAQ">
	<div class="Title">Trámites Especiales</div>		
	<div align="justify" class="Text">Estos artículos pueden tener algún tipo de restricción para salir de USA o necesitar permisos especiales para entrar al país, por ser considerados materiales sensibles. Los trámites especiales tendrán un cargo adicional.<br />
		<br />
		<b>PRODUCTOS</b><br />
		<ul>
			<li>Cremas y cosméticos</li>
		<li>Productos perecederos</li>
		<li>Equipo médico</li>
		<li>Explosivos y municiones</li>
		<li>Armas</li>
		<li>Alimentos y bebidas</li>
		<li>Animales vivos</li>
		<li>Productos en spray o que dañen la capa de ozono</li>
		<li>Mercadería con eficiencia energética</li>
		<li>Otros</li>
		<li>Semillas</li>
		<li>Plantas</li>
		<li>Radio controles y radares</li>
		<li>Tabaco</li>
		<li>Sustancias tóxicas</li>
		<li>Madera</li>
		<li>Precursores y sustancias químicas</li>
		<li>Pieles y productos de origen animal</li>
		<li>Medicinas, drogas y estupefacientes</li>
		<li>Plaguicidas, pesticidas, agroquímicos, fertilizantes</li>
		<li>Otros</li>	
		</ul>
		<br />
		<b>Requieren de trámite de Cuarentena:</b><br />
		<ul>
		<li>Libros</li>
		<li>Papel higiénico</li>
		<li>Servilletas</li>
		<li>Papel Toalla</li>
		<li>Cartón (Cartón corrugado, cartoncillo, etc.) </li>
		<li>Productos derivados del papel y todos los subproductos derivados de origen vegetal. </li>
		</ul>
		<br />
		Para la importación de los siguientes productos, el cliente debe presentar la documentación previa al embarque en USA, de lo contrario la mercancía podría llegar a ser decomisada a su llegada a Panamá, y el cliente deberá correr con los gastos de decomiso y/o incineración.
		<br /><br />
		<b>PRODUCTOS</b><br />
		<ul>
		<li>Semillas</li>
		<li>Plantas</li>
		<li>Radio controles y radares</li>
		<li>Tabaco</li>
		<li>Sustancias tóxicas</li>
		<li>Madera</li>
		<li>Precursores y sustancias químicas</li>
		<li>Pieles y productos de origen animal</li>
		<li>Medicinas, drogas y estupefacientes</li>
		<li>Otros</li>
		
		</ul>
		<br /><br />
		
		&nbsp;
	</div>
</div>

			</div>
		</div>
	</div>
</section>
</body>
</html>