<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title></title>
<!--Begin AutoPilot -->
<script type="text/javascript">(function(o){var b="https://api.autopilothq.com/anywhere/",t="cb7780893cf5421d9959efe45ff50119761aaf4c5b404556b3591ff3195936d8",a=window.AutopilotAnywhere={_runQueue:[],run:function(){this._runQueue.push(arguments);}},c=encodeURIComponent,s="SCRIPT",d=document,l=d.getElementsByTagName(s)[0],p="t="+c(d.title||"")+"&u="+c(d.location.href||"")+"&r="+c(d.referrer||""),j="text/javascript",z,y;if(!window.Autopilot) window.Autopilot=a;if(o.app) p="devmode=true&"+p;z=function(src,asy){var e=d.createElement(s);e.src=src;e.type=j;e.async=asy;l.parentNode.insertBefore(e,l);};y=function(){z(b+t+'?'+p,true);};if(window.attachEvent){window.attachEvent("onload",y);}else{window.addEventListener("load",y,false);}})({});</script>
<!--End AutoPilot -->
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WPBXCP9');</script>
<!-- End Google Tag Manager -->
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WPBXCP9"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="BarHeader Content">
<div class="BarHeaderContainer ContentContainer MaxWidth">
<div class="Text"><span>Preguntas m&aacute;s consultadas</span></div>
<img alt="" src="img/image_headerbar_1.png" /></div>
</div>

<div class="ContentContainer MaxWidthData"><!--<div class="MainTitle" style="text-align: left; padding: 0;     padding-top: 50px;">
                Preguntas mas consultadas
        </div>-->
<div class="FAQS">
<div class="FAQ Selected">
<div class="Title">&iquest;Qu&eacute; es Boxit?</div>

<div class="Text">Es un sistema de entrega de paquetes automatizado que permite retirar tus paquetes de compras online donde y cuando quieras, de manera privada 24/7 de la semana y los 365 d&iacute;as del a&ntilde;o.</div>
</div>

<div class="FAQ">
<div class="Title">&iquest;Qui&eacute;n puede utilizar Boxit?</div>

<div class="Text">Toda persona que posea tarjeta de cr&eacute;dito y dinero en efectivo.<br />
<br />
Est&aacute; dise&ntilde;ado para retirar tus compras online en nuestros locales afiliados y tiendas en Estados Unidos.<br />
<br />
&iquest;No tienes tarjeta de cr&eacute;dito? pr&oacute;ximamente podr&aacute;s hacer tus compras online en Amazon y pagar en efectivo mediante a <span>BOXIT</span>.</div>
</div>

<div class="FAQ">
<div class="Title">&iquest;C&oacute;mo funciona?</div>

<div class="Text">
<ul>
	<li>Es simple, f&aacute;cil y r&aacute;pido.</li>
	<li>Reg&iacute;strate ingresando tus datos y correo electr&oacute;nico.</li>
	<li>Haz tu compra Online. (Efectivo o tarjeta de cr&eacute;dito).</li>
	<li>Si tu compras es en efectivo por Amazon paga en nuestras plataformas y/o afiliados, recibir&aacute;s una confirmaci&oacute;n v&iacute;a mail indicando que tu paquete est&aacute; en el Boxit de tu elecci&oacute;n y recibir&aacute;s un c&oacute;digo &uacute;nico de retiro.</li>
	<li>Ingresa tu c&oacute;digo &uacute;nico de retiro en el Boxit.</li>
	<li>Retira y s&eacute; feliz&hellip; <span>Boxit Delivering Happiness</span></li>
</ul>
</div>
</div>

<div class="FAQ">
<div class="Title">&iquest;Debo tener una cuenta de email?</div>

<div class="Text">S&iacute;, es necesario que cuentes con una cuenta de correo electr&oacute;nico para recibir el c&oacute;digo de retiro &uacute;nico de tus compras y las notificaciones de tracking de los paquetes.</div>
</div>

<div class="FAQ">
<div class="Title">&iquest;Cu&aacute;l es el horario de atenci&oacute;n o entregas de paquetes?</div>

<div class="Text">Nuestra plataforma est&aacute; disponible las 24 horas del d&iacute;a, los 365 d&iacute;as del a&ntilde;o. Usted es due&ntilde;o de su tiempo y privacidad en la compra.</div>
</div>

<div class="FAQ">
<div class="Title">&iquest;Cuantos d&iacute;as permanecen los paquetes en el Boxit?</div>

<div class="Text">La permanencia de tus paquetes en <span>BOXIT</span> es de 48 horas luego de recibir la notificaci&oacute;n a arribo v&iacute;a email. Una vez transcurrido ese tiempo el paquete ser&aacute; retirado y llevado a nuestra sede operativa donde dependiendo el caso se deba pagar un recargo por movimiento y acarreo.</div>
</div>

<div class="FAQ">
<div class="Title">&iquest;C&oacute;mo registrarme?</div>

<div class="Text">
<ul>
	<li>Dir&iacute;gete a www.myboxit.com</li>
	<li>Rellena los espacios en blanco con la informaci&oacute;n solicitada.</li>
	<li>Selecciona el Boxit m&aacute;s cercano a tu hogar u oficina.</li>
	<li>Presiona aceptar.</li>
	<li>Ingresa a tu correo electr&oacute;nico y confirma tu cuenta.</li>
	<li>Recibir&aacute;s tu direcci&oacute;n en Miami, la cual debes usar en todas tus direcciones de compras Online.</li>
</ul>
<span>BIENVENIDO A BOXIT</span><br />
<span>DELIVERING HAPPINESS</span></div>
</div>

<div class="FAQ">
<div class="Title">&iquest;Pasos para comprar con tarjeta de cr&eacute;dito?</div>

<div class="Text">
<ul>
	<li>Abrir www.myboxit.com y crea tu usuario con direcci&oacute;n PO BOX en Miami.</li>
	<li>Compra en tu p&aacute;gina online favorita.</li>
	<li>Ingresa tu direcci&oacute;n f&iacute;sica PO BOX Miami, recibida en tu email.</li>
	<li>Completa tu compra.</li>
	<li>Anuncia tu paquete para ayudarte con el tracking</li>
</ul>
</div>
</div>

<div class="FAQ">
<div class="Title">&iquest;Pasos para comprar con efectivo (aplica exclusivamente para Amazon)?</div>

<div class="Text">
<ul>
	<li>Ir a www.myboxit.com crea tu usuario con direcci&oacute;n PO BOX en Miami.</li>
	<li>Haz logging con Amazon desde my www.boxit.com o utiliza tus credenciales de usuario.</li>
	<li>Haz click en Boxit store.</li>
	<li>Selecciona tu producto a comprar.</li>
	<li>Selecciona Checkout.</li>
	<li>Haz click en compra en efectivo.</li>
	<li>Revisa correo electr&oacute;nico con tu n&uacute;mero de orden (tambi&eacute;n lo puedes ver en tu cuenta de usuario).</li>
	<li>Paga en Boxit directamente o en cualquiera de nuestros afiliados; nosotros hacemos el resto.</li>
</ul>
</div>
</div>

<div class="FAQ">
<div class="Title">&iquest;Qu&eacute; son Impuestos de Aduana?</div>

<div class="Text">Los impuestos aduanales o de introducci&oacute;n son grav&aacute;menes obligatorios aplicados a los bienes que ingresan al territorio nacional legalmente, recaudados por la administraci&oacute;n p&uacute;blica. Los paquetes con valor hasta $100 (valor CIF: costo + seguro + flete) est&aacute;n libres de Impuesto Aduanal. En base a la Ley N&deg; 53 de 13 de diciembre de 2007 que aprueba el Tratado de Promoci&oacute;n Comercial entre la Rep&uacute;blica de Panam&aacute; y los Estados Unidos de Am&eacute;rica.</div>
</div>

<div class="FAQ">
<div class="Title">&iquest;Qu&eacute; son los tr&aacute;mites especiales y a qu&eacute; mercanc&iacute;as aplican?</div>

<div class="Text">Algunas mercanc&iacute;as para entrar al territorio nacional requieren permisos especiales que ayudan a salvaguardar la salud y seguridad del consumidor. Estos tr&aacute;mites son solicitados por las siguientes autoridades:
<hr />
<ul>
	<li><b>AUPSA &ndash; Autoridad Paname&ntilde;a de Seguridad de Alimentos:</b> Comestibles (alimentos y bebidas), suplementos (alimenticios, diet&eacute;ticos, vitam&iacute;nicos), vitaminas y otros.</li>
	<li><b>MINSA: Farmacias y Droga, Laboratorio de Aduanas y de necesitarlo Sello del Gorgas y Bomberos:</b> Todo producto que tenga contacto con el cuerpo tales como: medicamentos, cosm&eacute;ticos, cremas para el cuerpo, perfumes, reactivos y otros.</li>
	<li><b>ANAM y Cuarentena Agropecuaria:</b> Mercanc&iacute;as de madera o que incluya madera y sus derivados. Semillas, plantas vivas: su importaci&oacute;n est&aacute; prohibida sin tr&aacute;mite o permiso previo. Este tr&aacute;mite lo realiza directo el cliente y de no contar con la documentaci&oacute;n podr&aacute;n ser decomisados e incinerados inmediatamente por Cuarentena Agropecuaria de Panam&aacute;.</li>
	<li><b>Bomberos, Laboratorio de Aduanas y Salud Ambiental:</b> Pinturas / Aerosoles.</li>
	<li><b>Tr&aacute;mite de valoraci&oacute;n:</b> Papel bond y sus derivados, papel toalla, servilletas de papel, entre otros.</li>
	<li><b>Costos de tr&aacute;mites:</b> 
        <ul>
          <li>AUPSA, por notificaci&oacute;n o descripci&oacute;n: $5</li>
          <li>Farmacias y Droga: $15 </li>
          <li>Laboratorio de Aduanas: $15</li>
          <li>Sello Gorgas: $20</li>
          <li> Bomberos: $15</li>
          <li>Salud Ambiental: $20</li>
          <li> ANAM: $45 m&iacute;nimo</li>
          <li>Cuarentena Agropecuaria: $40</li>
          <li> Valoraci&oacute;n: $20 m&iacute;nimo</li>
       </ul> 
</ul>
</div>
</div>
</div>
</div>
</body>
</html>