<div class="row">
	<div class="container">
		<div class="row">
	
			<div class="col-md-3 col-md-offset-0 col-sm-6 col-sm-offset-1 col-xs-6 text-center">
				<img src="img/newstyle/logo.svg" alt="Boxit" class="svg">
			</div>

			<div class="col-md-3 col-sm-4 col-xs-6" id="footer-nav">
				<ul>
					<li><a ui-sref="FAQ">Información</a></li>
					<li><a ui-sref="contactanos">Contacto</a></li>
					<li><a class="btn btn-store" href="#"><span><span>bo</span>xit</span>Store</a></li>
					<li><a ui-sref="terminosycondiciones">Términos y condiciones</a></li>
				</ul>
			</div>

			<div class="col-md-2 col-md-push-4 col-md-offset-0 col-sm-6 col-sm-offset-1 col-xs-12 text-center" id="footer-social">
				<a href="https://www.facebook.com/MyboxitOnline/"><i class="fa fa-facebook" target="_blank"></i></a>
				<a href="https://www.instagram.com/MyboxitOnline/" target="_blank"><i class="fa fa-instagram"></i></a>
			</div>

			<div class="col-md-4 col-md-pull-2 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-12 text-center" id="footer-signup">
				<p>Entérate de lo último en Compras por Internet</p>
				<form action="">
					<input type="email" class="form-control" placeholder="Ingresa tu correo electrónico">
					<button type="submit" class="btn btn-primary">Suscríbete</button>
				</form>
			</div>
			
		</div>

		<div class="row">
			<div class="col-md-12">
				<p id="copyright">Copyright 2018 - Boxit</p>
			</div>
		</div>
	</div>
</div>