<section class="home">

    <div id="home-slider">

        <div class="home-slide" style="background-image: url('img/newstyle/slides/slide-1.jpg');">
            <div class="video-background">
                <div class="video-foreground">
                    <iframe id="slide1Video" src="https://www.youtube.com/embed/uFf415Epa60?controls=0&showinfo=0&rel=0&autoplay=1&mute=1&loop=1&playlist=uFf415Epa60" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="container">
                <div class="row align-v slide-text">
                    <div class="col-md-10 col-md-offset-1">
                        <h1>Así de <span>simple</span> es Boxit</h1>
                        <p>Regístrate y experimenta el futuro del comercio electrónico</p>
                        <a ui-sref="registro" class="btn btn-primary btn-inverse">Crea tu cuenta</a>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="home-slide" style="background-image: url('img/newstyle/slides/slide-2.jpg');">
            <div class="container">
                <div class="row align-v slide-text">
                    <div class="col-md-10 col-md-offset-1">
                        <p><br></p>
                        <p><br></p>
                        <p><br></p>
                        <p><br></p>
                        <a class="btn btn-primary btn-inverse link-ubicaciones">Ver las ubicaciones</a>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="home-slide" style="background-image: url('img/newstyle/slides/slide-3.jpg');">
            <div class="container">
                <div class="row align-v slide-text">
                    <div class="col-md-10 col-md-offset-1">
                        <h1>Así de <span>confiable</span> es Boxit</h1>
                        <p>Cada vez son más las empresas y emprendedores que confían y utilizan Boxit para activar su comercio electrónico</p>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
<!--
    <div class="container-fluid" id="about-box">
    
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>¿Qué es Boxit?</h1>
            </div>
        </div>
    
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <p>Boxit es una solución innovadora para tus compras por internet. Una red de Lockers Inteligentes que funcionan como puntos de recolección para el comercio electrónico. Al registrarte en Boxit tendrás acceso a multiples beneficios que no solo se limitan a compras en USA, también podrás accceder a las tiendas locales que utilizan nuestra tecnología para vender sus productos. Dile adiós a las filas y recoge tus paquetes en el horario que más te convenga.</p>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Afiliados</h2>
                <img src="img/newstyle/home/afiliados.png" alt="Afiliados">
            </div>
        </div>
        
    </div>
-->

    <section class="how-it-works">
        <div class="max-width-container">
            <div class="media-container"></div>
            <div class="content">
                <h2>Qué es Boxit?</h2>
                <span class="description">
                    <p>Boxit es una solución innovadora para que puedas realizar tus compras por internet de una forma más económica y conveniente. Al formar parte de la familia Boxit tendrás acceso a múltiples beneficios para que tengas acceso a los productos y servicios de tiendas en USA y tiendas locales.</p>
                </span>
            </div>
        </div>        
    </section>
    <section class="afiliados">
        <div class="container">
            <div class="row">
                <div class="col-md-12"><p><br></p></div>
                <div class="col-md-12 text-center">                    
                    <img class="img-responsive" src="img/newstyle/home/afiliados.png" alt="Afiliados">
                </div>
                <div class="col-md-12"><p><br></p></div>
            </div>
        </div>
    </section>

    <div class="container-fluid" id="home-main">    
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>¿Cómo Comprar en Boxit?</h1>
            </div>
        </div>    
        <div class="row">

            <div class="col-md-4 col-md-offset-0 col-sm-10 col-sm-offset-1 home-step">
                <article>
                    <h2>1</h2>
                    <h3>Elige tuCompra</h3>
                    <p>Usa nuestro BoxitStore para escoger los productos que deseas comprar o envíanos la información por whatsapp.</p>
                </article>
                <figure style="background-image: url(img/newstyle/home/compra.png);">
                </figure>
            </div>
            
            <div class="col-md-4 col-md-offset-0 col-sm-10 col-sm-offset-1 home-step">
                <article>
                    <h2>2</h2>
                    <h3>Paga</h3>
                    <p>Escoge el Boxit más cercano y haz el pago en EFECTIVO con la clave que te enviamos por correo.</p>
                </article>
                <figure style="background-image: url(img/newstyle/home/elige.png);">
                </figure>
            </div>
            
            <div class="col-md-4 col-md-offset-0 col-sm-10 col-sm-offset-1 home-step">
                <article>
                    <h2>3</h2>
                    <h3>Retira</h3>
                    <p>Cuando llega tu compra al Boxit te enviamos un correo con la clave de retiro. Puedes ir cuando más te convenga, estamos abierto 24/7. ¡Sencillo!</p>
                </article>
                <figure style="background-image: url(img/newstyle/home/retira.png);">
                </figure>
            </div>
    
        </div>
        <div class="row text-center">
            
        </div>
    
        <div class="row cta-row">
            <a ui-sref="registro" class="btn btn-celeste">Regístrate</a>
            
        </div>

    
    </div>

    <div class="container-fluid text-center" id="ubication-box">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Ubicaciones</h1>
            </div>
        </div>
    <!--    --> 
        <div class="row" id="home-map"></div>
    
        <div class="row" id="home-insta">
            <div class="col-sm-12" id="instafeed">
            </div>
            <div class="col-xs-12 text-center text-uppercase">
                <a href="https://www.instagram.com/MyboxitOnline/" target="_blank" id="insta-link"><i class="fa fa-instagram"></i>Síguenos @myboxitonline</a>
            </div>
        </div>
    
    </div>
    
    <div class="container text-center" id="pre-foot">
        <div class="row">
            <p>Todo el comercio electrónico en un solo lugar</p>
            <a class="btn btn-primary btn-lg" ui-sref="registro">Crea tu cuenta ya</a>
        </div>
    </div>
    
    
    <section class="lockers-host">
        <div class="container text-left lockers">
            <div class="row">
                        <div class="col-md-5 col-sm-5">
                            <div class="lockers-left">
                                <img class="img-responsive" src="img/newstyle/lockers.png">
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-7">
                            <div class="lockers-right">
                                <h2>¿Qué son Lockers Inteligentes?</h2>
                                <p>Nuestros Lockers Inteligentes son plataformas de autoservicio donde las personas retiran sus paquetes de forma automatizada sin necesidad de interacción humana. Con tecnología de avanzada hemos integrado diversas funcionalidades a los Lockers para crear una experiencia grandiosa para el cliente.</p>
                                <ul>
                                    <li>RETIRA A CONVENIENCIA 24/7 </li>
                                    <li>MULTIPLES MEDIOS DE PAGO: EFECTIVO, TARJETA DE CREDITO</li>
                                    <li>30 SEGUNDOS PARA RETIRAR TU PAQUETE. ¡SIN FILAS!</li>
                                </ul>
                            </div>
                        </div>
            </div>
        </div>
        <div class="container-fluid text-left" id="host-boxit">
            <div class="row align-v">
                <div class="container">                    
                    <div class="row">
                        <div class="col-md-9 col-sm-7">
                            <!--<p><img src="img/newstyle/home/ubica-un-boxit-en-tu-local-peque.jpg" alt="Boxit"></p>-->
                            <p id="host-cta">Ubica un Boxit en tu local</p>
                            <p>El Boxit añade valor y tráfico a tu local, además <br>es una herramienta para tu negocio.</p>
                            <div class="row cta-row cta-row-contactanos">
                                <a ui-sref="contactanos" class="btn btn-celeste">Contactanos</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        var map = null;
                var infoWindow = null;
                function closeInfoWindow() {
                    infowindow.close();
                    }
        
                function initMap() {
                    var center = {lat: 8.9823792, lng: -79.5198696};
                    map = new google.maps.Map(document.getElementById('home-map'), {
                        zoom: 13,
                        center: center
                    });
                    infoWindow = new google.maps.InfoWindow();

                    google.maps.event.addListener(map, 'click', function(){
                        console.log('closeInfoWindow');
                        closeInfoWindow();
                    });                    
         
                    var ubication1 = {lat: 8.9770883, lng: -79.5339283};
                    var ubication2 = {lat: 8.9969002, lng: -79.581986};
                    var ubication3 = {lat: 9.0026415, lng: -79.5832567};
                    var ubication4 = {lat: 9.0006108, lng: -79.5167992};
                    var ubication5 = {lat: 8.9875199, lng: -79.5025703};
                    var ubication6 = {lat: 8.9521979, lng: -79.5363596};

                    var title1 = "Boxit La Cresta";
                    var title2 = "Oficina Principal";
                    var title3 = "Boxit Ciudad del Saber";
                    var title4 = "Boxit San Fernando- La Sabana";
                    var title5 = "Boxit Vía Israel";
                    var title6 = "Boxit Selina";

                    var address1 = "La Cresta, Zaz Food Store, en la estación Delta al lado de la Entrada de Hossana. (Todos los días, 24 horas)";
                    var address2 = "Ciudad del Saber, Calle Evelio Lara, Casa 138-B (Lunes a Viernes, de 8:30AM A 5:30PM)";
                    var address3 = "Ciudad del Saber, a un costado de la Plaza.(Todos los días, 24 horas)";
                    var address4 = "Vía España, La Sabana, Zaz Food store, en estación Delta al lado de Consultorios América (Carrasquilla). (Todos los días, 24 horas)";
                    var address5 = "Vía Israel, próximo a ELMEC, frente a la calle 76 (Istmo Pub). Plaza City Point, dentro del local Super Gourmet. (Todos los días, de 9AM A 10PM)";
                    var address6 = "Selina Embassy, Casco Viejo, Frente a Puerta de Tierra, edificio de la esquina diagonal a Plaza Herrera.(10:30am - 7:30pm) EDICION ESPECIAL";

                    var link1 = "https://www.google.com/maps/place/Boxit+La+Cresta/@8.9770883,-79.542683,15z/data=!4m8!1m2!2m1!1sBoxit!3m4!1s0x8faca8ee460b372b:0xa797bed669f7f1d6!8m2!3d8.9770883!4d-79.5339283";
                    var link2 = "https://www.google.com/maps/place/Boxit+Oficina+Principal/@8.9969002,-79.5841747,17z/data=!3m1!4b1!4m5!3m4!1s0x8faca6354e42cdb7:0x2c32b6821c38a658!8m2!3d8.9969002!4d-79.581986";
                    var link3 = "https://www.google.com/maps/place/Boxit+Ciudad+Del+Saber/@9.0026415,-79.5854454,17z/data=!3m1!4b1!4m5!3m4!1s0x8faca7b5fc3560c5:0xffb20ae5707c8d4e!8m2!3d9.0026415!4d-79.5832567";
                    var link4 = "https://www.google.com/maps/place/Boxit+Las+Sabanas/@9.0006108,-79.5189879,17z/data=!3m1!4b1!4m5!3m4!1s0x8faca8549f56e9f9:0xf643edf2e298df5c!8m2!3d9.0006108!4d-79.5167992";
                    var link5 = "https://www.google.com/maps/place/Boxit+Via+Israel/@8.9875199,-79.504759,17z/data=!3m1!4b1!4m5!3m4!1s0x8faca90f0d76b043:0xc3550728abc54b59!8m2!3d8.9875199!4d-79.5025703";
                    var link6 = "https://www.google.com/maps/place/Selina+Embassy/@8.9521979,-79.5385483,17z/data=!3m1!4b1!4m5!3m4!1s0x8facaf3535c19ff1:0x5befa9e35e1635b4!8m2!3d8.9521979!4d-79.5363596";

                    var image = {
                        url: 'img/newstyle/map-marker-icon-pink-original-30-43.png',
                        // This marker is 20 pixels wide by 32 pixels high.
                        size: new google.maps.Size(30, 43),
                        // The origin for this image is (0, 0).
                        origin: new google.maps.Point(0, 0),
                        // The anchor for this image is the base of the flagpole at (0, 32).
                        anchor: new google.maps.Point(0, 43)
                    };

                    var contentString1 = '<div class="info-windows-content">'+
                    '<div class="info-windows-title">'+
                    '<h3>'+ title1 +'</h3>'+
                    '</div>'+                    
                    '<div class="info-windows-phone">'+
                    '<h4><a href="'+ link1 +'" target="_blank">Ver Mapa</a></h4>'+
                    '</div>'+
                    '<div class="info-windows-address">'+
                    '<h5>'+ address1 +'</h5>'+
                    '</div>'+
                    '</div>';
                    
                    var marker1 = new google.maps.Marker({
                        position: ubication1,
                        map: map,
                        icon: image,
                        title: title1
                    });

                    marker1.addListener('click', function() {
                        if (typeof infowindow !== 'undefined') {closeInfoWindow();}
                        infowindow = new google.maps.InfoWindow({
                            content: contentString1
                        });
                        infowindow.open(map, marker1);
                        map.panTo(ubication1);
                    });

                    var contentString2 = '<div class="info-windows-content">'+
                    '<div class="info-windows-title">'+
                    '<h3>'+ title2 +'</h3>'+
                    '</div>'+                    
                    '<div class="info-windows-phone">'+
                    '<h4><a href="'+ link2 +'" target="_blank">Ver Mapa</a></h4>'+
                    '</div>'+
                    '<div class="info-windows-address">'+
                    '<h5>'+ address2 +'</h5>'+
                    '</div>'+
                    '</div>';                    
                    var marker2 = new google.maps.Marker({
                        position: ubication2,
                        map: map,
                        icon: image,
                        title: title2
                    });
                    marker2.addListener('click', function() {
                        if (typeof infowindow !== 'undefined') {closeInfoWindow();}
                        infowindow = new google.maps.InfoWindow({
                            content: contentString2
                        });
                        infowindow.open(map, marker2);
                        map.panTo(ubication2);
                    });

                    var contentString3 = '<div class="info-windows-content">'+
                    '<div class="info-windows-title">'+
                    '<h3>'+ title3 +'</h3>'+
                    '</div>'+                    
                    '<div class="info-windows-phone">'+
                    '<h4><a href="'+ link3 +'" target="_blank">Ver Mapa</a></h4>'+
                    '</div>'+
                    '<div class="info-windows-address">'+
                    '<h5>'+ address3 +'</h5>'+
                    '</div>'+
                    '</div>';
                    
                    var marker3 = new google.maps.Marker({
                        position: ubication3,
                        map: map,
                        icon: image,
                        title: title3
                    });
                    marker3.addListener('click', function() {
                        if (typeof infowindow !== 'undefined') {closeInfoWindow();}
                        infowindow = new google.maps.InfoWindow({
                            content: contentString3
                        });
                        infowindow.open(map, marker3);
                        map.panTo(ubication3);
                    });

                    var contentString4 = '<div class="info-windows-content">'+
                    '<div class="info-windows-title">'+
                    '<h3>'+ title4 +'</h3>'+
                    '</div>'+                    
                    '<div class="info-windows-phone">'+
                    '<h4><a href="'+ link4 +'" target="_blank">Ver Mapa</a></h4>'+
                    '</div>'+
                    '<div class="info-windows-address">'+
                    '<h5>'+ address4 +'</h5>'+
                    '</div>'+
                    '</div>';
                    
                    var marker4 = new google.maps.Marker({
                        position: ubication4,
                        map: map,
                        icon: image,
                        title: title4
                    });
                    marker4.addListener('click', function() {
                        if (typeof infowindow !== 'undefined') {closeInfoWindow();}
                        infowindow = new google.maps.InfoWindow({
                            content: contentString4
                        });
                        infowindow.open(map, marker4);
                        map.panTo(ubication4);
                    });

                    var contentString5 = '<div class="info-windows-content">'+
                    '<div class="info-windows-title">'+
                    '<h3>'+ title5 +'</h3>'+
                    '</div>'+                    
                    '<div class="info-windows-phone">'+
                    '<h4><a href="'+ link5 +'" target="_blank">Ver Mapa</a></h4>'+
                    '</div>'+
                    '<div class="info-windows-address">'+
                    '<h5>'+ address5 +'</h5>'+
                    '</div>'+
                    '</div>';
                   
                    var marker5 = new google.maps.Marker({
                        position: ubication5,
                        map: map,
                        icon: image,
                        title: title5
                    });
                    marker5.addListener('click', function() {
                        if (typeof infowindow !== 'undefined') {closeInfoWindow();}
                        infowindow = new google.maps.InfoWindow({
                            content: contentString5
                        });
                        infowindow.open(map, marker5);
                        map.panTo(ubication5);
                    });

                    var contentString6 = '<div class="info-windows-content">'+
                    '<div class="info-windows-title">'+
                    '<h3>'+ title6 +'</h3>'+
                    '</div>'+                    
                    '<div class="info-windows-phone">'+
                    '<h4><a href="'+ link6 +'" target="_blank">Ver Mapa</a></h4>'+
                    '</div>'+
                    '<div class="info-windows-address">'+
                    '<h5>'+ address6 +'</h5>'+
                    '</div>'+
                    '</div>';
                    
                    var marker6 = new google.maps.Marker({
                        position: ubication6,
                        map: map,
                        icon: image,
                        title: title6
                    });
                    marker6.addListener('click', function() {
                        if (typeof infowindow !== 'undefined') {closeInfoWindow();}
                        infowindow = new google.maps.InfoWindow({
                            content: contentString6
                        });
                        infowindow.open(map, marker6);
                        map.panTo(ubication6);
                    });                    
                }
    </script>
    
            <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzcK9eMvdwphKLYgP7aP8oYpaJarY9NDs&callback=initMap"></script>

<script type="text/javascript">
$(document).ready(function() {
    
	// INSTAGRAM
    var feed = new Instafeed({
        get: 'user',
        userId: '3036829059',
        accessToken: '3036829059.1677ed0.4c591d3becd54564b58daa7bc16cf5a0',
        limit: 4,
        resolution: 'standard_resolution',
        template: '<a class="insta-block" href="{{link}}" target="_blank"><img src="{{image}}" /></a>'
    });
    feed.run();

    // Make all image blocks square
    var instaWidth;
    setTimeout(function() {
	    $('.insta-block').each(function() {
	    	instaWidth = $(this).width();
	    	$(this).css('height', (instaWidth + 'px'));
	    });
    }, 1000);

    $(window).resize(function() {
    	$('.insta-block').each(function() {
	    	instaWidth = $(this).width();
	    	$(this).css('height', (instaWidth + 'px'));
	    });
    });
    
	// HOME SLIDER
	$('#home-slider').slick({
		arrows: false,
		dots: true,
		fade: true,
		pauseOnFocus: false,
		pauseOnHover: false
	});

	setTimeout(function() {
		$('#home-slider').slick('slickPlay');
	}, 6000);
});
</script>
