<!DOCTYPE html>
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title></title>
<!--Begin AutoPilot -->
<script type="text/javascript">(function(o){var b="https://api.autopilothq.com/anywhere/",t="cb7780893cf5421d9959efe45ff50119761aaf4c5b404556b3591ff3195936d8",a=window.AutopilotAnywhere={_runQueue:[],run:function(){this._runQueue.push(arguments);}},c=encodeURIComponent,s="SCRIPT",d=document,l=d.getElementsByTagName(s)[0],p="t="+c(d.title||"")+"&u="+c(d.location.href||"")+"&r="+c(d.referrer||""),j="text/javascript",z,y;if(!window.Autopilot) window.Autopilot=a;if(o.app) p="devmode=true&"+p;z=function(src,asy){var e=d.createElement(s);e.src=src;e.type=j;e.async=asy;l.parentNode.insertBefore(e,l);};y=function(){z(b+t+'?'+p,true);};if(window.attachEvent){window.attachEvent("onload",y);}else{window.addEventListener("load",y,false);}})({});</script>
<!--End AutoPilot -->
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WPBXCP9');</script>
<!-- End Google Tag Manager -->
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WPBXCP9"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) --><!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
 
<div class="MainBanner Content" style="height: auto;">
<div class="MainBannerContainer ContentContainer MaxWidth">
<div autoplay="" class="Banners Rotator">
<div class="Banner">
    <div class="Left">
        <div ><img alt="Nuestro Slogan" src="img/Slider4.png?v=1" title="Nuestro Slogan" class="image-responsive" width="100%" height: auto; /></div>
    </div>
</div>
<div class="Banner">
    <div class="Left">
        <div ><img alt="Nuestro Slogan" src="img/Slider3.png" title="Nuestro Slogan" class="image-responsive" width="100%" height: auto; /></div>
    </div>
</div>
<div class="Banner">
    <div class="Left">
        <div ><img alt="Nuestro Slogan" src="img/Slider2.png" title="Nuestro Slogan" class="image-responsive" width="100%" height: auto; /></div>
    </div>
</div>
<!--<div class="Left">
<div class="Title"><img alt="Nuestro Slogan" src="img/Slogan.png" title="Nuestro Slogan" /></div>

<div class="Description">
<div class="Text">La opci&oacute;n ideal para realizar tus compras online y retirar paquetes f&aacute;cilmente.<br />
24 horas al d&iacute;a, 7 d&iacute;as a la semana.</div>

<div class="Button WithBackground"><a href="#/nosotros">M&Aacute;S INFO</a></div>
</div>
</div>

<div class="Right" style="background: url(img/imgbanner.png) no-repeat; background-position-y: 100%;"></div>-->

<!-- <div class="Banner">
<div ><img alt="Nuestro Slogan" src="img/Slider2.png" title="Nuestro Slogan class="image-responsive" width="100%" height: auto; /></div>
</div>

<div class="Banner">
<div class="Left">
<div class="Title"><img alt="Nuestro Slogan" src="img/imgbanner_3_title.png" title="Nuestro Slogan" /></div>

<div class="Description">
<div class="Text">Puntos de autoservicio ubicados estrat&eacute;gicamente.<br />
Vive la experiencia <span>Boxit</span> los 365 d&iacute;as del a&ntilde;o.</div>

<div class="Button WithBackground"><a href="#/nosotros">M&Aacute;S INFO</a></div>
</div>
</div>

<div class="Right" style="background: url(img/imgbanner_3.png) no-repeat; background-position-y: 100%;"></div>
</div>

<div class="Banner">
<div class="Left">
<div class="Title"><img alt="Nuestro Slogan" src="img/imgbanner_4_title.png" title="Nuestro Slogan" /></div>

<div class="Description">
<div class="Text">Reg&iacute;strate, ingresa tus datos, confirma tu direcci&oacute;n de correo, elige el <span>Boxit</span> m&aacute;s cercano y comienza a disfrutar de nuestros servicios.</div>

<div class="Button WithBackground"><a href="#/nosotros">M&Aacute;S INFO</a></div>
</div>
</div>

<div class="Right" style="background: url(img/imgbanner_4.png) no-repeat; background-position-y: 100%;"></div>
</div>

<div class="Banner">
<div class="Left">
<div class="Title"><img alt="Nuestro Slogan" src="img/imgbanner_5_title.png" title="Nuestro Slogan" /></div>

<div class="Description">
<div class="Text">Ahorra dinero en costos de env&iacute;os.<br />
Tarifas competitivas, entrega garantizada.</div>

<div class="Button WithBackground"><a href="#/nosotros">M&Aacute;S INFO</a></div>
</div>
</div>

<div class="Right" style="background: url(img/imgbanner_5.png) no-repeat; background-position-y: 100%;"></div>
</div>
 -->

<div class="Banner">
 <div class="Left">
    <div ><img alt="Nuestro Slogan" src="img/Slider1.png" title="Nuestro Slogan" class="image-responsive" width="100%" height: auto; /></div> 
</div>

<!-- <div class="Right" style="background: url(img/imgbanner_7.png) no-repeat; background-position-y: 100%;"></div> -->
</div> 

<div class="BannerSelecters">
<div class="Banner WidthBackground"></div>

<div class="Banner WidthBackground"></div>

<div class="Banner WidthBackground"></div>

<div class="Banner WidthBackground"></div>

</div>
</div>
</div>
</div>

<div class="MainTitle MaxWidth">&iquest;C&oacute;mo funciona Boxit?</div>

<div class="Steps MaxWidth">
<div class="Step">
<div class="Image"><img alt="Registrate" src="img/StepsRegistrate.gif" title="Registrate" /></div>

<div class="Description">
<div class="Title">Reg&iacute;strate</div>

<div class="Text">Entra en myboxit.com e ingresa tus datos.<br />
Te asignaremos una direcci&oacute;n de casillero.</div>

<!--<div class="Button WithoutBorder"><a ui-sref="registro"> CLICK AQU&Iacute; </a></div>-->
<div class="Button WithoutBorder"><a href="#/registro">CLICK AQU&Iacute;</a></div>


</div>
</div>

<div class="Step">
<div class="Image"><img alt="TuCompra" src="img/StepsTuCompra.gif" title="TuCompra" /></div>

<div class="Description">
<div class="Title">Haz tu compra online</div>

<div class="Text">Una vez seleccionados tus art&iacute;culos de preferencia finaliza tu compra ingresando la direcci&oacute;n de casillero asignada.</div>
</div>
</div>

<div class="Step">
<div class="Image"><img alt="TuBoxit" src="img/StepsTuBoxit.gif" title="TuBoxit" /></div>

<div class="Description">
<div class="Title">Elige tu Boxit</div>

<div class="Text">Colocamos el paquete en el punto de autoservicio de tu preferencia.<br />
Ahorra tiempo y dinero.</div>
</div>
</div>

<div class="Step">
<div class="Image"><img alt="Notificacion" src="img/StepsNotificacion.gif" title="Notificacion" /></div>

<div class="Description">
<div class="Title">Recibir&aacute;s una notificaci&oacute;n</div>

<div class="Text">Al llegar tu paquete enviaremos un email con el c&oacute;digo de retiro para ingresar en el casillero Boxit.</div>
</div>
</div>

<div class="Step">
<div class="Image"><img alt="Retira" src="img/StepsRetira.gif" style="height: 100px;" title="Retira" /></div>

<div class="Description">
<div class="Title">Retira</div>

<div class="Text">Ingresa el c&oacute;digo &uacute;nico de retiro y disfruta de tu experiencia de compra.</div>
</div>
</div>
</div>

 <div ng-controller="shoppingCarController" ng-include="'views/BoxitStore.html'"></div> 
  <!-- <div ng-controller="shoppingCarController" ng-include="'views/BoxitStore.html'">
 -->
<!-- <div class="BannerSobresaliente Content" style="height: 190px;background-color: #00b4cb;">
<div class="BannerSobresalienteContainer ContentContainer MaxWidth">
<div class="Title"><img alt="" src="img/Titulo-que_esperas_para_usar_nuestro_servicio.png" /></div>

<div class="Description">
<div class="Text">Registrate y realiza tu compra ya!</div>
<a ui-sref="registro"> </a>

<div class="Button WithBackground"><a ui-sref="registro">REGISTRARME</a></div>
<a ui-sref="registro"> </a></div>
<img src="img/foto-Banner_1.png" style="width: auto" /></div>
</div> -->
<!--<div class="AlwaysClose Content">
    <div class="MainTitle">
        Siempre cerca
    </div>
    <div class="Description">
        <div class="Text">
            Regístrate y elige el <span>BOXIT</span> más cercano a tu casa u oficina
        </div>
        <a ui-sref="registro">
            <div class="Button WithBackground">CONSIGUE EL BOXIT MÁS CERCANO</div>
        </a>
    </div>
</div>-->

<!-- <div ng-controller="shoppingCarController" ng-include="'views/BoxitStore.html'"></div> -->


<!--<div class="BannerSobresaliente Content" style="height: 111px;background-color: #A82773;">
    <div class="BannerSobresalienteContainer ContentContainer MaxWidth">
        <div class="Title">
         
        </div>
        <img src="img/foto-Banner_2.png" style="width: auto">
    </div>
</div>--><script src="../js/js.js" type="text/javascript">
    
    banner();
</script>

</body>
</html>