<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title></title>
<!--Begin AutoPilot -->
<script type="text/javascript">(function(o){var b="https://api.autopilothq.com/anywhere/",t="cb7780893cf5421d9959efe45ff50119761aaf4c5b404556b3591ff3195936d8",a=window.AutopilotAnywhere={_runQueue:[],run:function(){this._runQueue.push(arguments);}},c=encodeURIComponent,s="SCRIPT",d=document,l=d.getElementsByTagName(s)[0],p="t="+c(d.title||"")+"&u="+c(d.location.href||"")+"&r="+c(d.referrer||""),j="text/javascript",z,y;if(!window.Autopilot) window.Autopilot=a;if(o.app) p="devmode=true&"+p;z=function(src,asy){var e=d.createElement(s);e.src=src;e.type=j;e.async=asy;l.parentNode.insertBefore(e,l);};y=function(){z(b+t+'?'+p,true);};if(window.attachEvent){window.attachEvent("onload",y);}else{window.addEventListener("load",y,false);}})({});</script>
<!--End AutoPilot -->
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WPBXCP9');</script>
<!-- End Google Tag Manager -->
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WPBXCP9"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) --></body>
<br />
<br />
<br />
<link href="../css/userStyle.css" rel="stylesheet" type="text/css" />
<div class="row">
	<div class ="col-sm-2"></div>
<!--<div class="col-sm-6 fondo">
<h3 class="customLabel">Resumen de sus paquetes:</h3>

<hr />
<div class="row">
<div class="col-sm-5"><span class="pull-right">Paquetes en Miami: {{miami}} </span><br />
<span class="pull-right">Paquetes en Panama: {{panama}}</span><br />
<span class="pull-right">Paquetes en el Boxit: {{boxit}}</span><br />
<span class="pull-right">Paquetes entregados: {{entregado}}</span><br />
<span class="pull-right">Total de paquetes: {{total}}</span></div>
</div>--><!--    </div>-->

<div class="col-sm-6 fondo">
<h3 class="customLabel">Direccion Miami</h3>

<hr />
<div class="row">
<div class="col-sm-3 customLabel"><span class="pull-right">Full Name : </span></div>

<div class="col-sm-7 form-group"><input class="form-control" ng-disabled="false" readonly ng-model="nombre" type="text" /></div>
</div>

<div class="row">
<div class="col-sm-3 customLabel"><span class="pull-right">Address 1: </span></div>

<div class="col-sm-7 form-group"><input class="form-control" ng-disabled="false" readonly ng-model="address1" type="text" /></div>
</div>

<div class="row">
<div class="col-sm-3 customLabel"><span class="pull-right">Address 2: </span></div>

<div class="col-sm-7 form-group"><input class="form-control" ng-disabled="false" readonly ng-model="address2" type="text" /></div>
</div>

<div class="row">
<div class="col-sm-3 customLabel"><span class="pull-right">City : </span></div>

<div class="col-sm-7 form-group"><input class="form-control" ng-disabled="false" readonly ng-model="city" type="text" /></div>
</div>

<div class="row">
<div class="col-sm-3 customLabel"><span class="pull-right">State : </span></div>

<div class="col-sm-7 form-group"><input class="form-control" ng-disabled="false" readonly ng-model="state" type="text" /></div>
</div>

<div class="row">
<div class="col-sm-3 customLabel"><span class="pull-right">Zip : </span></div>

<div class="col-sm-7 form-group"><input class="form-control" ng-disabled="false" readonly ng-model="zip" type="text" /></div>
</div>

<div class="row">
<div class="col-sm-3 customLabel"><span class="pull-right">Country : </span></div>

<div class="col-sm-7 form-group"><input class="form-control" ng-disabled="false" readonly ng-model="country" type="text" /></div>
</div>

<div class="row">
<div class="col-sm-3 customLabel"><span class="pull-right">Phone : </span></div>

<div class="col-sm-7 form-group"><input class="form-control" ng-disabled="false" readonly ng-model="tel" type="text" /></div>
</div>

<div class="row">
<div class="col-sm-1"></div>

<div class="col-sm-11"><input checked="checked" ng-disabled="true" type="checkbox" /> <span> No delivering on weekends </span></div>
</div>
</div>
</div>
</html>