<!--[if lt IE 8]>
				<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
			<![endif]-->

			<div class="container-fluid">

				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed">
					<span class="sr-only">Ver navegación</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				  <a class="navbar-brand" ui-sref="home">
					<img src="img/newstyle/logo.svg" class="svg" alt="Boxit">
				  </a>
				</div>
				<div id="navbar">
				  <ul class="nav navbar-nav navbar-middle">
					<li class="dropdown">
					  <a class="dropdown-toggle link-servicios" ui-sref="home" data-toggle="dropdown">Servicios</a>
					  <ul class="dropdown-menu">
						<li class="dropdown-item"><a href="#" class="link-whois">¿Qué es Boxit?</a></li>
						<li class="dropdown-item"><a href="#" class="link-retiro">Retiro de paquete</a></li>
						<li class="dropdown-item"><a href="#" class="link-ubicaciones">Ubicaciones</a></li>
					  </ul>
					</li>				
					<li class=""><a  ui-sref="FAQ">Información</a> </li>
						
					
					<li class="navbar-contactanos"><a ui-sref="contactanos">Contacto</a></li>
					<li><a class="btn btn-store" ui-sref="boxitStore"><span><span>bo</span>xit</span>Store</a></li>
				  </ul>
				  <ul class="nav navbar-nav navbar-right">
	
							<li class="navbar-phones">
									<div class="navbar-phones-div">
											<div class="customLabelPhone"><i class="fa fa-phone"></i> (507) 317-1014</div>
											<div class="customLabelPhone"><i class="fa fa-whatsapp"></i> (507) 63494559</div>
											<div class="customLabelPhone"><i class="fa fa-envelope"></i> hello@myboxit.com</div>
									</div>
							</li>
	
							<li ng-show="!loged"><a class="btn btn-secondary" ui-sref="iniciarSesion">Inicia sesión</a></li>
							<li ng-show="loged"><a class="btn btn-secondary" ui-sref="home" ng-click="cerrarSesion()">Cerrar sesión</a></li>
				
							<li ng-show="loged"><a class="btn btn-primary" ui-sref="iniciarSesion">Área de Usuario</a></li>
							<li ng-show="!loged"><a class="btn btn-primary" ui-sref="registro">Regístrate</a></li>
						</ul>				  
				</div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
<script type="text/javascript">
$(document).ready(function() {
    var navbarAffixHeight=120;
	//console.log('navbarAffixHeight: ' + navbarAffixHeight);

	$('a.link-whois').on('click', function(event) {
		//console.log('link-whois click');
		event.preventDefault();
		var target = $('#about-box');        
		$('html,body').animate({
			scrollTop: (target.offset().top - navbarAffixHeight + 1)
		}, 1000);
		return false;        
	});
	$('a.link-retiro').on('click', function(event) {
		//console.log('link-retiro click');
		event.preventDefault();
		var target = $('#home-main');        
		$('html,body').animate({
			scrollTop: (target.offset().top - navbarAffixHeight + 1)
		}, 1000);
		return false;        
	});
	$('a.link-ubicaciones').on('click', function(event) {
		//console.log('link-ubicaciones click');
		event.preventDefault();
		var target = $('#ubication-box');        
		$('html,body').animate({
			scrollTop: (target.offset().top - navbarAffixHeight + 1)
		}, 1000);
		return false;        
    });
});
</script>