<html>
<head>
	<title></title>
<!--Begin AutoPilot -->
<script type="text/javascript">(function(o){var b="https://api.autopilothq.com/anywhere/",t="cb7780893cf5421d9959efe45ff50119761aaf4c5b404556b3591ff3195936d8",a=window.AutopilotAnywhere={_runQueue:[],run:function(){this._runQueue.push(arguments);}},c=encodeURIComponent,s="SCRIPT",d=document,l=d.getElementsByTagName(s)[0],p="t="+c(d.title||"")+"&u="+c(d.location.href||"")+"&r="+c(d.referrer||""),j="text/javascript",z,y;if(!window.Autopilot) window.Autopilot=a;if(o.app) p="devmode=true&"+p;z=function(src,asy){var e=d.createElement(s);e.src=src;e.type=j;e.async=asy;l.parentNode.insertBefore(e,l);};y=function(){z(b+t+'?'+p,true);};if(window.attachEvent){window.attachEvent("onload",y);}else{window.addEventListener("load",y,false);}})({});</script>
<!--End AutoPilot -->
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WPBXCP9');</script>
<!-- End Google Tag Manager -->
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WPBXCP9"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="MainBanner Content">
<div class="MainBannerContainer ContentContainer MaxWidth">
<div class="MainTitle">&iquest;Qu&eacute; es Boxit?</div>

<div class="Description">
<div class="Text">Te asignamos un c&oacute;digo &uacute;nico que permite gestionar tus env&iacute;os de compras online sin complicaciones.</div>
</div>

<div class="Features">
<div class="Feature">
<div class="Title">Recoger un paquete</div>

<div class="Image"><img alt="" src="img/StepsRetira.gif" /></div>

<div class="Description">Nuestro servicio funciona todos los d&iacute;as del a&ntilde;o, con una plataforma segura.<br />
Compra tus art&iacute;culos online y ubica el <span>BOXIT</span> que m&aacute;s te convenga.</div>
</div>

<div class="Feature">
<div class="Title">Seguro y Confiable</div>

<div class="Image"><img alt="" src="img/logo-safe.png" /></div>

<div class="Description">Retira tus paquetes sin intermediarios.<br />
Sistema &uacute;nico, privado y confidencial.<br />
Con solo ingresar tu c&oacute;digo de seguridad liberas tu paquete.</div>
</div>

<div class="Feature">
<div class="Title">Cerca de ti</div>

<div class="Image"><img alt="" src="img/logo-near.png" /></div>

<div class="Description">Sin limitaciones de espacio y tiempo.<br />
Ubicaciones estrat&eacute;gicas<br />
para tu comodidad.<br />
Relaci&oacute;n calidad &ndash; precio.</div>
</div>
</div>

<div class="Logos">
<div class="Left"><img alt="" src="img/logo-boxit_XIT_blanco.png" /></div>

<div class="Right"><img alt="" src="img/Slogan.png" /></div>
</div>
</div>
</div>

<div class="PageDescription">
<div class="MainDescription MaxWidth">
<div class="Title">&iquest;Qui&eacute;nes somos?</div>

<div class="Description">
<div class="Text">Somos la empresa líder en Panamá de parcel lockers, los primeros en el mercado, con excelentes beneficios y precios altamente competitivos.<br />
<br />
Con <span>Boxit</span> tienes la oportunidad de realizar tus compras por internet en las mejores tiendas de los Estados Unidos (Amazon, Best Buy, Target, eBay, Walmart, Ikea, Forever21, Victoria Secret) entre otras.<br />
<br />
En nuestra plataforma podrás hacer tus compras tanto en efectivo como con tarjeta de crédito. Te damos la oportunidad de retirar tus paquetes las 24 horas del día, los siete días de la semana, ya que nuestros puntos de autoservicio están estratégicamente ubicados cerca de tu hogar, universidad o trabajo. <br />
<br />
<span>Boxit</span> es una puerta abierta al mercado E-commerce en Panamá, donde podrás de manera fácil, rápida y segura realizar tus compras online con solo un click.<br /> <br />
Nuestro esquema de trabajo se traduce en alegría, satisfacción y felicidad en cada paquete recibido. Estamos ansiosos que seas parte de nuestra familia y disfrutes vivir la experiencia de comprar con Boxit.<br />
<br />
</div>
<a ui-sref="registro"> </a>

<div class="Button WithBackground"><a ui-sref="registro">REGISTRARME</a></div>
<a ui-sref="registro"> </a></div>
<img alt="" src="img/quienes_somos.png" /></div>
<!--<div class="SecundaryDescription Content">
                <div class="SecundaryDescriptionContainer MaxWidth ContentContainer">
                        <div class="Quadrate HalfOfWidth">
                                <div class="Title">Mision</div>
                                <div class="Description">
                                        <div class="Tag">
                                                Tecnotolia onlie para todos.
                                        </div>
                                        De eso se trata para nosotros. Este servicio va dirigido al uso masivo e incluir al sector de la poblacion que no cuenta con tarjeta de credito, al mundo del eCommerce
                                </div>
                        </div>
                        <div class="Quadrate HalfOfWidth">
                                <div class="Title">Vision</div>
                                <div class="Description">
                                        Promover el progreso social y el liderazgo comercial. Con el fin de impulsar el crecimiento de esta era digital sin precedentes en la cual estamos viviendo.
                                        <br>
                                        <br>
                                        Ser la empresa lidel de Parcel Lockers y compras por internet en la region.
                                        <br>
                                        Desarrollar la industria del internet y el eCommerce en la region a traves de nuestras plataformas.
                                        <br>
                                        Transformar la industria logistica en la region.
                                </div>
                        </div>
                </div>
        </div>--></div>

<!-- <div class="BannerSobresaliente Content" style="height: 190px;background-color: #00b4cb;">
<div class="BannerSobresalienteContainer ContentContainer MaxWidth">
<div class="Title"><img alt="" src="img/Titulo-que_esperas_para_usar_nuestro_servicio.png" /></div>

<div class="Description">
<div class="Text">Registrate y realiza tu compra ya!</div>
<a ui-sref="registro"> </a>

<div class="Button WithBackground"><a ui-sref="registro">REGISTRARME</a></div>
<a ui-sref="registro"> </a></div>
<img src="img/foto-Banner_2_blue.png" style="" /></div>
</div> -->

<!-- <div class="AlwaysClose Content">
<div class="MainTitle">Siempre cerca</div>

<div class="Description">
<div class="Text">Reg&iacute;strate y elige el <span>BOXIT</span> m&aacute;s cercano a tu casa u oficina</div>
<a ui-sref="registro"> </a>

<div class="Button WithBackground"><a ui-sref="registro">CONSIGUE EL BOXIT M&Aacute;S CERCANO</a></div>
<a ui-sref="registro"> </a></div>
</div> -->

<!-- <div class="BannerSobresaliente Content" style="height: 111px;background-color: #A82773;">
<div class="BannerSobresalienteContainer ContentContainer MaxWidth">
<div class="Title">SOMOS LA <span>EMPRESA L&Iacute;DER</span> EN PANAM&Aacute; DE COMPRAS ONLINE</div>
<img src="img/foto-Banner_1_morado.png" /></div>
</div> -->
</body>
</html>