<html>
<head>
	<title></title>
<!--Begin AutoPilot -->
<script type="text/javascript">(function(o){var b="https://api.autopilothq.com/anywhere/",t="cb7780893cf5421d9959efe45ff50119761aaf4c5b404556b3591ff3195936d8",a=window.AutopilotAnywhere={_runQueue:[],run:function(){this._runQueue.push(arguments);}},c=encodeURIComponent,s="SCRIPT",d=document,l=d.getElementsByTagName(s)[0],p="t="+c(d.title||"")+"&u="+c(d.location.href||"")+"&r="+c(d.referrer||""),j="text/javascript",z,y;if(!window.Autopilot) window.Autopilot=a;if(o.app) p="devmode=true&"+p;z=function(src,asy){var e=d.createElement(s);e.src=src;e.type=j;e.async=asy;l.parentNode.insertBefore(e,l);};y=function(){z(b+t+'?'+p,true);};if(window.attachEvent){window.attachEvent("onload",y);}else{window.addEventListener("load",y,false);}})({});</script>
<!--End AutoPilot -->
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WPBXCP9');</script>
<!-- End Google Tag Manager -->
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WPBXCP9"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) --></body>
<link href="../css/userStyle.css" rel="stylesheet" type="text/css" />


<div class="trakingdepaquetes">
	<div class="nnoorow">	
		<h4 class="customLabel">Tracking de Paquetes</h4>
			<div class="col-sm-12 col-md-12 col-lg-12 tarjetas" ng-repeat="traking in trakings">
				<div class="tarjeta tarjeta-1">
					<div class="tarjeta-container">
						<div class="numeroTracking">Numero: <b>{{traking.attributes.NumeroTracking}}</b></div>
						<div class="precio"><b>$ {{traking.attributes.Precio}}</b></div>
						<div class="estado">Estado: <b>{{traking.attributes.Estatus}}</b></div>
						<div class="detalle">Paquete: {{traking.attributes.Paquete}}</div>
					</div>
					<div style="clear: both"></div>
				</div>			
			</div>
	</div>
</div>
<div style="clear:both; width: 100%; height: 20px;"></div>
<p><br></p>


</html>